BEGIN:VCALENDAR
VERSION:2.0
PRODID:-// https://add-to-calendar-pro.com // button v2.4.3 //EN
CALSCALE:GREGORIAN
METHOD:PUBLISH
BEGIN:VTIMEZONE
TZID:Europe/Moscow
X-LIC-LOCATION:Europe/Moscow
LAST-MODIFIED:20230517T170336Z
BEGIN:STANDARD
TZNAME:MSK
TZOFFSETFROM:+0300
TZOFFSETTO:+0300
DTSTART:19700101T000000
END:STANDARD
END:VTIMEZONE
BEGIN:VEVENT
UID:{{ uuid }}
DTSTAMP:{{ timestamp }}
DTSTART;TZID=UTC:{{ event.start_time_formatted }}
DTEND;TZID=UTC:{{ event.end_time_formatted }}
SUMMARY:{{ event.title }}
LOCATION:{{ event.location }}
SEQUENCE:0
STATUS:CONFIRMED
CREATED:{{ timestamp }}
LAST-MODIFIED:{{ timestamp }}
END:VEVENT
END:VCALENDAR
