{% load static %}

<div class="flex flex-col gap-1">
  <div class="flex flex-row">
    <div class="flex flex-col">
      <div>{{ event.title }}</div>
      <div>
        {% if event.is_past_due %}
        Мероприятие состоялось
        {% else %}
        Следующее мероприятие
        {% endif %}
      </div>
    </div>
  </div>
  <div><img class="w-full aspect-auto" src="/static/{{ event.image_url.url }}" alt=""></div>
  {% if not event.is_past_due %}
  <div class="flex flex-col items-center">
    <a
      href="{{ event.tickets_url }}"
      style="width: 200px"
      target="_blank"
      class="text-black border bg-white border-slate-400 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-sm text-md text-center px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
      Купить билет
    </a>
  </div>
  {% endif %}
</div>
